[Unit]
Description=Automatically suspends when battery charge is low

[Service]
ExecStart=/usr/bin/suspend_low_battery
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
